@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.banner {
  padding-top: 18.6rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
  position: relative;

  &-triangle-first {
    position: absolute;
    top: 15%;
    left: 12%;
    animation: rotate 5s linear infinite;

    @include respond(phone) {
      display: none;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(359deg);
      }
    }
  }

  &-triangle-second {
    position: absolute;
    bottom: 1%;
    animation: rotate 5s linear infinite;

    @include respond(phone) {
      bottom: 5%;
      right: 3%;
    }
    @include respond(ablet-port, tablet-land) {
      bottom: 5%;
      right: 15%;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(359deg);
      }
    }
  }

  &-curved-lines-first {
    position: absolute;
    right: 45%;
    bottom: 45%;

    @include respond(phone, tablet-port, tablet-land, desktop-big) {
      display: none;
    }
  }

  @include respond(phone, tablet-port, tablet-land) {
    flex-direction: column;
    padding-top: 18.8rem;
  }
  @include respond(desktop-big) {
    padding-top: 27rem;
  }
  &-block-left {
    width: 75%;
    position: relative;
    @include respond(phone, tablet-port, tablet-land) {
      width: 100%;
    }
    @include respond(desktop-big) {
      margin-right: 5rem;
      width: 65%;
    }
    &-heading {
      margin-top: 1.2rem;
      margin-bottom: 1rem;
      width: 800px;

      @include respond(phone, tablet-port, tablet-land) {
        width: unset;
      }
    }
    &-buttons {
      margin-top: 3.2rem;
      &-first {
        margin-right: 0.8rem;
      }
    }
    &--sub {
      line-height: 171%;
      max-width: 573px;
      margin-top: 4rem;

      @include respond(phone, tablet-port, tablet-land) {
        margin-top: unset;
      }
    }
    &-trusted {
      margin-top: 3.2rem;
      &--small {
        text-transform: uppercase;
        color: var(--gray-200);
      }
      &-logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 1.6rem;
        gap: 4rem;
        img {
          margin-right: 1.5rem;
          width: 100px;
          height: auto;
          object-fit: cover;

          @include respond(phone) {
            width: 64px;
          }
        }

        @include respond(phone) {
          flex-wrap: wrap;
        }
      }
    }
  }
  &-block-right {
    width: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: -1;

    @include respond(phone, tablet-port, tablet-land) {
      display: none;
    }
    @include respond(desktop-big) {
      width: 35%;
    }
    &-img {
      width: 100%;
      position: relative;
      z-index: 10;
      margin-left: auto;
      @include respond(phone) {
        margin-top: 4rem;
        width: 100%;
        height: auto;
      }
      @include respond(tablet-port) {
        margin-top: 4rem;
        width: 100%;
        height: auto;
      }
      @include respond(tablet-land) {
        margin-top: 4rem;
        width: 100%;
        height: auto;
      }
    }
    img {
      object-fit: cover;
      width: 100%;
      height: auto;
      @include respond(tablet-land) {
        width: 85%;
      }
    }
  }
}
