@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.cta-second {
  background-color: var(--gray);

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 6.4rem 0;

    @include respond(phone) {
      width: unset;
      padding-top: 6.4rem;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 6.4rem;
    }
    @include respond(tablet-port, tablet-land) {
      width: unset;
      padding: 6.4rem 1.6rem;
      margin: 0 auto;
      text-align: center;
    }

    p {
      font-size: 20px;
      max-width: 695px;
      color: var(--gray-200);
      text-align: center;
      letter-spacing: 0em;
      margin: 0;
      padding: 0 3rem;
    }
    h3 {
      margin: 3.2rem 0 3.2rem 0;
    }
  }
}
