@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.references {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding: 8.6rem 0 8.6rem 0;

  @include respond(phone) {
    width: unset;
    padding: 1.2rem 0 8.6rem 0;
  }
  @include respond(tablet-port) {
    width: unset;
    padding: 1.2rem 0 8.6rem 0;
  }
  @include respond(tablet-land) {
    width: unset;
    padding: 1.2rem 0 8.6rem 0;
  }

  &-wrapper {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    position: relative;

    @include respond(phone) {
      padding: 0 2rem;
      width: unset;
    }
    @include respond(tablet-port) {
      padding: 6rem 3rem;
      width: unset;
    }
    @include respond(tablet-land) {
      padding: 6rem 3rem;
      width: unset;
    }

    &-left {
      padding: 6.4rem 0 6.4rem 8rem;
      width: 70%;

      @include respond(phone) {
        width: 100%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
      }
      @include respond(tablet-port) {
        width: 100%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
      }
      @include respond(tablet-land) {
        width: 100%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
      }

      &-heading {
        max-width: 1180px;
        margin: 0;
      }

      &-text {
        max-width: 958px;
        width: 100%;
      }
      &-author {
        display: flex;
        flex-direction: column;
        margin-top: 1.6rem;
        @include respond(phone) {
          margin: 0 auto;
          text-align: center;
          padding-top: 3.2rem;
        }
        @include respond(tablet-port) {
          margin: 0 auto;
          text-align: center;
          padding-top: 3.2rem;
        }
        @include respond(tablet-land) {
          margin: 0 auto;
          text-align: center;
          padding-top: 3.2rem;
        }
        &-top {
          display: flex;
          flex-direction: row;
          align-items: center;

          h4 {
            font-size: 24px;
          }
          img {
            object-fit: cover;
            width: 38px;
            height: 38px;
          }
        }
        &-company {
          color: var(--primary);
          font-size: 14px;
          font-weight: 700;
        }
      }
    }

    &-right {
      width: 30%;
      display: flex;
      margin-right: 3rem;
      height: 100%;
      position: absolute;
      right: 0;
      @include respond(phone) {
        display: none;
      }
      @include respond(tablet-port) {
        display: none;
      }
      @include respond(tablet-land) {
        display: none;
      }

      img {
        margin-left: auto;
        height: 100%;
      }
    }
  }
}
