@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.short-personal-info {
  margin: 6.4rem 0;
  position: relative;

  &-triangle-first {
    position: absolute;
    bottom: 6%;
    left: 50%;
    animation: rotate 5s linear infinite;

    @include respond(phone) {
      display: none;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(359deg);
      }
    }
  }

  &-curved-lines-first {
    position: absolute;
    left: 56%;
    bottom: 65%;

    @include respond(phone) {
      display: none;
    }
    @include respond(tablet-port) {
      display: none;
    }
    @include respond(tablet-land) {
      display: none;
    }
  }

  &-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &-left {
      width: 75%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include respond(phone) {
        width: unset;
      }
      @include respond(tablet-port) {
        width: unset;
      }
      @include respond(tablet-land) {
        width: unset;
      }

      &-heading {
        width: 850px;

        @include respond(phone) {
          width: unset;
        }
        @include respond(tablet-port) {
          width: unset;
        }
        @include respond(tablet-land) {
          width: unset;
        }
      }
      &-text {
        margin-top: 3rem;
        width: 680px;

        @include respond(phone) {
          width: unset;
        }
        @include respond(tablet-port) {
          width: unset;
        }
        @include respond(tablet-land) {
          width: unset;
        }
      }
      .more-about-me-end-link {
        margin: 3.2rem 0 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
      }
    }
    &-right {
      width: 25%;
      display: flex;
      justify-content: flex-end;
      position: relative;

      @include respond(phone) {
        display: none;
      }
      @include respond(tablet-port) {
        display: none;
      }
      @include respond(tablet-land) {
        display: none;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 500px;

        @include respond(phone) {
          width: 100%;
          height: auto;
          object-fit: cover;
          margin-left: 0;
          display: none;
        }
        @include respond(tablet-port) {
          width: 50%;
          height: auto;
          object-fit: cover;
          margin-left: 0;
        }
        @include respond(tablet-land) {
          width: 50%;
          height: auto;
          object-fit: cover;
          margin-left: 0;
        }
      }
    }
  }
}
