@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.packages-banner {
  margin-top: 24rem;

  @include respond(phone) {
    margin-top: 18rem;
  }
  @include respond(tablet-port) {
    margin-top: 18rem;
  }
  @include respond(tablet-land) {
    margin-top: 18rem;
  }

  &-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20rem;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 7rem;
    }
    @include respond(tablet-port) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 7rem;
    }
    @include respond(tablet-land) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 7rem;
    }

    &-left {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include respond(phone) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
      }
      @include respond(tablet-port) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
      }
      @include respond(tablet-land) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
      }

      h1 {
        width: max-content;
        text-transform: uppercase;
        @include respond(phone) {
          font-size: 36px;
        }
        @include respond(tablet-port) {
          font-size: 42px;
        }
      }
    }
    &-right {
      @include respond(phone) {
        width: 100%;
      }
      @include respond(tablet-port) {
        width: 100%;
      }
      @include respond(tablet-land) {
        width: 100%;
      }

      &-heading {
        margin-bottom: 14px;
      }
    }
  }
}
