@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.prices {
  margin-top: 12.8rem;

  @include respond(phone) {
    margin-top: 8rem;
  }
  @include respond(tablet-port) {
    margin-top: 8rem;
  }
  @include respond(tablet-land) {
    margin-top: 8rem;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 6.4rem;

    @include respond(phone) {
      align-items: unset;
    }
    @include respond(tablet-port) {
      align-items: unset;
    }

    &-heading {
      margin-bottom: 2rem;
      max-width: 600px;
    }

    &-list {
      display: grid;
      grid-template-columns: 50% auto;
      align-items: flex-start;
      justify-content: center;
      margin: 0 auto;
      gap: 4.7rem;
      padding-top: 3.2rem;

      @include respond(phone) {
        display: flex;
        flex-direction: column;
        padding-top: 3.2rem;
      }

      @include respond(tablet-port) {
        display: flex;
        flex-direction: column;
        padding-top: 3.2rem;
      }

      @include respond(tablet-land) {
        display: flex;
        flex-direction: column;
        padding-top: 6rem;
      }

      &-item {
        background-color: var(--white);
        padding: 7rem 4rem;
        box-shadow: 0px 0px 40px 0px #0000000d;
        border-radius: 5px;

        &-heading {
          margin-bottom: 18px;
        }
        &-text {
          margin-bottom: 3.2rem;
        }
        h4 {
          margin-bottom: 1.6rem;
        }
        .btn-secondary {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          margin-top: 3.2rem;
        }
        .small-line {
          height: 1px;
          background-color: #d9d9d9;
          margin-top: 3.2rem;
        }

        .offer-whats-included-list {
          display: flex;
          text-align: left;
          justify-content: center;
          flex-direction: column;
          align-items: flex-start;
          gap: 1.5rem;
          margin-top: 1.6rem;

          &-heading {
            text-align: center;
          }
        }
      }
    }
  }
}
