@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.blog-banner {
  padding-top: 22.6rem;
  &-wrapper {
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    @include respond(phone, tablet-port, tablet-land) {
      flex-direction: column;
      padding-top: 20rem;
    }
    @include respond(desktop-big) {
      padding-top: 27rem;
    }

    &-heading {
      width: max-content;
      margin-left: 0;
    }
    &-text {
      max-width: 800px;
    }

    span {
      margin-top: 2rem;
      font-weight: 700;
    }
    &-categories {
      padding-top: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3rem;

      &-item {
        color: var(--black);
        font-weight: 500;
        text-decoration: underline;
        transition: 0.3s all ease-in-out;
        &:hover {
          cursor: pointer;
          color: var(--primary);
        }
      }
    }

    &-blogs {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 4rem;
      padding-top: 6.2rem;

      @include respond(phone, tablet-port, tablet-land) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
      }

      &-item {
        background-color: var(--white);
        padding: 5rem 4rem;
        transition: 0.4s all ease-in-out;
        border-radius: 5px;

        .line {
          background-color: var(--primary);
          height: 2px;
          width: 200px;
          margin: 1.6rem 0;
          transition: 0.4s all ease-in-out;
        }
        .color-primary {
          color: var(--primary);
          transition: 0.4s all ease-in-out;
        }
        &-date {
          margin-bottom: 3.2rem;

          p {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1.2rem;

            span {
              margin: 0;
              font-size: 14px;
            }
          }
        }

        &:hover > .blog-banner-wrapper-blogs-item-date > p > .color-primary {
          color: var(--white);
        }

        &:hover {
          transform: translateY(-10px);
          background-color: var(--primary-light);
        }

        &:hover > .line {
          background-color: var(--white);
          width: 310px;
        }
      }
    }
    &-blog {
      h4 {
        display: flex;
        width: max-content;
        background-color: var(--white);
        border-radius: 5px;
        flex-direction: row;
        padding: 3.2rem 3.2rem;
        gap: 1.6rem;
        margin-top: 6.4rem;
        align-items: center;
      }
    }
  }
}
