@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.who-i-am {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  padding-top: 6.4rem;
  gap: 10rem;

  @include respond(phone, tablet-port, tablet-land) {
    flex-direction: column;
    padding-top: 5rem;
    align-items: center;
    gap: 4rem;
  }

  &-left {
    width: 50%;

    @include respond(phone, tablet-port, tablet-land) {
      width: 100%;
    }

    &-heading {
      width: 700px;

      @include respond(phone, tablet-port, tablet-land) {
        width: 100%;
      }
    }
    &-text {
      width: 700px;

      @include respond(phone, tablet-port, tablet-land) {
        width: 100%;
      }
    }
    .social-links {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-top: 1.6rem;

      @include respond(phone, tablet-port, tablet-land) {
        margin-top: 3.2rem;
      }

      a {
        transition: 0.3s all ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  &-right {
    width: 50%;
    display: flex;
    align-items: flex-end;
    position: relative;

    @include respond(phone, tablet-port, tablet-land) {
      width: 100%;
    }
    img {
      margin-left: auto;
      width: 500px;
      max-width: 100%;
      height: 550px;
      object-fit: cover;

      @include respond(phone) {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-left: 0;
        display: none;
      }
      @include respond(tablet-port, tablet-land) {
        width: 50%;
        height: auto;
        object-fit: cover;
        margin-left: 0;
      }
    }
  }
}
